/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BUTTON BASE */
button {
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

/* PRIMARY */
.primary-btn {
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: white;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

/* SECONDARY */
.secondary-btn {
  background: white;
  border: 1px solid #ddd;
  color: #333;
}

.secondary-btn:hover {
  background: #f3f4f6;
  transform: translateY(-2px);
}